* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.super {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #070d67, #621481);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.super h1 {
  font-size: 45px;
  font-weight: 500;
  margin-top: -50px;
  margin-bottom: 50px;
}
.super h1 span {
  color: rgb(228, 66, 223);
}

textarea {
  width: 600px;
  height: 250px;
  background: #403d84;
  color: white;
  font-size: 15px;
  border: none;
  outline: 0;
  padding: 20px;
  border-radius: 15px;
  resize: none;
  margin-bottom: 30px;
}

textarea::placeholder {
  font-size: 16px;
  color: #b2b2ac;
}
.row {
  width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
}

button {
  background: #ff2963;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button img {
  width: 16px;
  margin-right: 10px;
}

select {
  flex: 1;
  color: white;
  background: rgb(233, 150, 231);
  height: 40px;
  padding: 0 30px;
  outline: 0;
  border: 0;
  border-radius: 35px;
  appearance: none;
  background-image: url(images/dropdown.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-x: calc(100% - 20px);
  background-position-y: 16px;
}
